.body {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  padding-top: 92px;
  text-underline-position: under;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
  justify-content: flex-start;
  padding-top: 43px;
  padding-left: 52px;
}

.header__menu-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.header__menu-item-active .header__menu-link {
  text-decoration: none;
}

.header__menu-item-active {
  list-style: none;
}

.address {
  max-width: 350px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  justify-self: end;
}

.header__address {
  padding-top: 6px;
  padding-left: 61px;
  padding-right: 35px;
}

.cover {
  position: relative;
  z-index: 0;
  padding: 174px 50px 50px 50px;
  min-height: 757px;
  margin-top: 96px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  display: flex;
}

.aligned-text {
  justify-content: flex-start;
  position: relative;
  bottom: 1px;
}

.aligned-text_center {
  justify-content: center;
  position: relative;
  top: 2px;
}

.aligned-text_right {
  justify-content: flex-end;
  position: relative;
  bottom: 2px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  position: relative;
  z-index: 2;
  margin-top: 133px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.cover__description-text {
  align-self: center;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  width: 257px;
  height: 52px;
  padding: 12px 32px;
  margin-left: 78px;
  background: transparent;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.lots {
  margin: 180px 50px 0px 50px;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 25px;
}

.card-link {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  min-height: 450px;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  padding: 50px 40px 30px 40px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  padding: 0px 40px 50px 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-underline-position: under;
}

.about {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 430px 1fr;
  column-gap: 28px;
  padding: 130px 50px 0px 50px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 23px;
  color: #000;
}

.about__title {
  margin-top: 104px;
  margin-bottom: 76px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  bottom: 2px;
  right: 2px;
}

.about__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  right: 2px;
}

.footer {
  padding-top: 180px;
  padding-bottom: 90px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-underline-position: under;
}

.footer__address {
  padding-top: 1px;
  padding-left: 40px;
  padding-right: 73px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.footer__menu-item-active .footer__menu-link {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-self: center;
  list-style: none;
  padding-left: 19px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
